@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

:root {
    --clr-bg: #F5F5F5;
    --clr-bg-secondary: #E0E0E0;
    --clr-text: #212121;
    --clr-primary: #B900FF;
    --clr-secondary: #9400D3;
    --clr-tertiary: #cd6ff5;
    --clr-border: #D9D9D9;
    --clr-inverse: var(--clr-primary);
    font-family: "Roboto Mono", Sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.15em;
}

.dark {
    --clr-bg: #121212;
    --clr-bg-secondary: #1E1E1E;
    --clr-text: #E0E0E0;
    --clr-secondary: #6A00A8;
    --clr-tertiary: var(--clr-primary);
    --clr-border: #292929;
    --clr-inverse: #4a5565;
}

@layer utilities {

    .bg-main {
        background-color: var(--clr-bg);
    }

    .bg-secondary {
        background-color: var(--clr-bg-secondary);
    }

    .bg-primary {
        background-color: var(--clr-primary);
    }

    .bg-inverse {
        background-color: var(--clr-inverse);
    }

    .bg-tertiary {
        background-color: var(--clr-tertiary);
    }

    .text-main {
        color: var(--clr-text);
    }

    .text-primary {
        color: var(--clr-primary);
    }

    .text-secondary {
        color: var(--clr-secondary);
    }

    .text-tertiary {
        color: var(--clr-tertiary)
    }

    .border-color {
        border-color: var(--clr-border);
    }

    .border-color-primary {
        border-color: var(--clr-primary);
    }

}